In [1]:
# [int, float,long, complex,str, bool, none], -> premitive
#(list,tuple,dict,set,)-> datasructures
#{array,dataframe}-> third party datatypes

In [3]:
a=10
print a,type(a),id(a)
a=12.34
print a,type(a),id(a)
a=10+2j
print a,type(a),id(a)
a=True
print a,type(a),id(a)
a=False
print a,type(a),id(a)
a=None
print a,type(a),id(a)
a=10**120
print type(a),id(a)
a="python"
print a,type(a),id(a)
a=[1,2,3,"str1",[1,2,3,4],1.2,1+2j,None,True,False]
print a,type(a),id(a)
a=(1,2,3,"str1",[1,2,3,4],1.2,1+2j,None,True,False)
print a,type(a),id(a)
a={1,2,3,4}
print a,type(a),id(a)
a={"name":"anil","age":23}
print a,type(a),id(a)
import numpy as np
import pandas as pd
a=np.array([10,20,30,40])
print a,type(a),id(a)
a=pd.DataFrame([{"name":"anil","age":23},{"name":"anil","age":23}])
print a,type(a),id(a)

10 <type 'int'> 94328278257840
12.34 <type 'float'> 94328288519776
(10+2j) <type 'complex'> 140369826995504
True <type 'bool'> 140370568678080
False <type 'bool'> 140370568678112
None <type 'NoneType'> 140370568760768
<type 'long'> 140370344156576
python <type 'str'> 140370570730496
[1, 2, 3, 'str1', [1, 2, 3, 4], 1.2, (1+2j), None, True, False] <type 'list'> 140370343692768
(1, 2, 3, 'str1', [1, 2, 3, 4], 1.2, (1+2j), None, True, False) <type 'tuple'> 140369818569864
set([1, 2, 3, 4]) <type 'set'> 140370453336840
{'age': 23, 'name': 'anil'} <type 'dict'> 140370343596392
[10 20 30 40] <type 'numpy.ndarray'> 140370344156576
   age  name
0   23  anil
1   23  anil <class 'pandas.core.frame.DataFrame'> 140369818434384

In [4]:
# arithmatic operations
a=10
b=20
print a+b
print a-b
print a*b
print a/b,0.5
print a**2
print a%3

30
-10
200
0 0.5
100
1

In [5]:
# arithmatic operations
a=10
b=20
print a+b
print a-b
print a*b
print a/b,0.5 # an in python 2.7.
# it will give only integer part of the division.
print a**2
print a%3

30
-10
200
0 0.5
100
1

In [6]:
isinstance(10,int)

True

In [7]:
isinstance(10,float)

False

In [8]:
a=10.0
b=20
print a/b

0.5

In [9]:
a=10

In [10]:
print a.0

SyntaxError: invalid syntax (<ipython-input-10-2fe7a8a11f91>, line 1)

In [11]:
print float(a)

10.0

In [12]:
type(a)

int

In [13]:
b=float(a)
print a,type(a)
print b, type(b)

10 <type 'int'>
10.0 <type 'float'>

In [14]:
a=12.34
print type(a)

<type 'float'>

In [15]:
a=12.34
b=int(a)
print b, type(b)
print a, type(a)

12 <type 'int'>
12.34 <type 'float'>

In [16]:
a=12.34

In [17]:
a.imag

0.0

In [18]:
a=1+2j
a.imag

2.0

In [19]:
a.real

1.0

In [20]:
a=12.34

In [21]:
a-int(a)

0.33999999999999986

In [23]:
a=12.34
a.as_integer_ratio()

(3473401212609495, 281474976710656)

In [25]:
a.hex()

'0x1.8ae147ae147aep+3'

In [26]:
print "%.2f"%(a-int(a))

0.34

In [27]:
# boolear operations
a=10
b=20
print a>b
print a>=b
print a<b
print a<=b
print a==b
print a is b

False
False
True
True
False
False

In [28]:
# boolear operations
a=10
b=20
print a>b
print a>=b
print a<b
print a<=b
print a==b
print a is b
print a!=b

False
False
True
True
False
False
True

In [29]:
a

10

In [30]:
1 in a

TypeError: argument of type 'int' is not iterable

In [31]:
a=1000
b=1000
print a==b
print a is b

True
False

In [32]:
a=1000
b=a
print a==b
print a is b

True
True

In [33]:
a=10
b=int(10.23)
c=int(12)

In [34]:
a=10
b=int(10.23)
c=int(12)
d=int("12")
print a,type(a)
print b,type(b)
print c, type(c)
print d, type(d)

10 <type 'int'>
10 <type 'int'>
12 <type 'int'>
12 <type 'int'>

In [36]:
a=10
b=010
print a
print b
print a==b

10
8
False

In [37]:
a=10
b=0x10
print a
print b

10
16

In [38]:
a=10
b=0o10
print a
print b

10
8

In [39]:
a=10
b=0b10
print a
print b

10
2

In [40]:
a=10
b=010
print a
print b

10
8

In [41]:
a=0o2344325364544

In [42]:
a=0o23443253645448

SyntaxError: invalid syntax (<ipython-input-42-d484c06f382b>, line 1)

In [43]:
a=0b0101010101
print a

341

In [44]:
a=0o1234
b=0b0101010
print a+b

710

In [45]:
a=0xabc
print a

2748

In [46]:
a=0xegh

SyntaxError: invalid syntax (<ipython-input-46-92665bba8c60>, line 1)

In [47]:
a=0b0101234

SyntaxError: invalid syntax (<ipython-input-47-6c9963a3677a>, line 1)

In [48]:
# bit wise operations
a=10
b=20
print a & b

0

In [49]:
# bit wise operations
a=10
b=20
print a & b
print a|b
print a^2

0
30
8

In [50]:
bin(a)

'0b1010'

In [51]:
hex(a)

'0xa'

In [52]:
oct(a)

'012'

In [53]:
ord("a")

97

In [54]:
chr(97)

'a'

In [56]:
# bit wise operations
a=10
b=20
print a & b
print a|b
print a>>2

0
30
2

In [57]:
# bit wise operations
a=10
b=20
print a & b
print a|b
print a>>2
print a<<2

0
30
2
40

In [59]:
# bit wise operations
a=10
b=20
print a & b
print a|b
print a^2
print a>>2
print a<<2

0
30
8
2
40

In [60]:
# boolear operations
a=10
b=20
c=200
print a>b and a>c
print a>b or a>c

False
False

In [61]:
# boolear operations
a=10
b=20
c=200
print a>b and a>c
print a>b or a>c
print a>b xor a>c

SyntaxError: invalid syntax (<ipython-input-61-3324d735bfcf>, line 7)

In [62]:
import keyword
keyword.kwlist

['and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'exec',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'not',
 'or',
 'pass',
 'print',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [1]:
a=1+2j
b=3+4j
print a>b

TypeError: no ordering relation is defined for complex numbers

In [2]:
a=1+2j
b=3+4j
print a+b

(4+6j)

In [3]:
a=1+2j
b=12.34
print a+b

(13.34+2j)

In [5]:
a=1+2j
b=12.34
print a.real+b

13.34

In [6]:
a=1+2j
b=12.34
print a+b

(13.34+2j)

In [7]:
a=1+2j
b=12.34
print a+complex(b)

(13.34+2j)

In [9]:
a=10
b="str1"
print a+b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
a=10
b="str1"
print str(a)+b

10str1

In [11]:
a="10"
b="20"
print a+b

1020

In [12]:
a="s1"
b="s2"
print a+b

s1s2

In [13]:
a="10"
b="20"
print type(a)

<type 'str'>

In [14]:
a="python"
print "a"

a

In [15]:
a="python"
print "a"
print a
print 20

a
python
20

In [16]:
product_name="apple"

In [17]:
product name="apple"

SyntaxError: invalid syntax (<ipython-input-17-f7e5ed819491>, line 1)

In [18]:
product_nam2e1="apple"

In [19]:
2product_nam2e1="apple"

SyntaxError: invalid syntax (<ipython-input-19-58b9bafe5a5c>, line 1)

In [20]:
_product_nam2e1="apple"

In [21]:
product$nam2e1="apple"

SyntaxError: invalid syntax (<ipython-input-21-7b1a1b7b59a1>, line 1)

In [22]:
PRODUCTNAME="apple"

In [23]:
print productname

NameError: name 'productname' is not defined

In [24]:
print PRODUCTNAME

apple

In [25]:
a="python"
print "a"
print a
print 20

a
python
20

In [26]:
s1="str1"
s2="str2"
print s1+s2
print s1-s2

str1str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [27]:
s1="str1"
a=10
print a+s1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
s1="str1"
a=10
print a*s1

str1str1str1str1str1str1str1str1str1str1

In [29]:
l1=[10,20,30,40]
print l1+10

TypeError: can only concatenate list (not "int") to list

In [30]:
import numpy as np

In [31]:

ar1=np.array([10,20,30,40])
print ar1+10

[20 30 40 50]

In [33]:
a=20+30/2
print a

35

In [34]:
a=20+30/2+10
print a

45

In [35]:
# read about operator precedency
a=20+30/2+10
print a

45

In [36]:
print 200/50/10

0

In [37]:
a=10
b=20
print (a+b)**3

27000

In [38]:
a=10
b=20
print a+b**3

8010

In [39]:
a=10
b=20
print a+b**3
print (a+b)**3
print a**3+b**3+3*a**2*b+3*a*b**2

8010
27000
27000

In [40]:
a=10
b=20
print a+b**3
print (a+b)**3
print a**3+b**3+3*a**2*b+3*a*b**2
print a**3+b**3+3*a*b*(a+b)

8010
27000
27000
27000

In [41]:
a=10
b=20
print a+b**3
print (a+b)**3
print a**3+b**3+3*a**2*b+3*a*b**2
print a**3+b**3+3*a*b*a+b

8010
27000
27000
15020

In [42]:
a=raw_input("Enter a value:")
print a

Enter a value:python
python

In [43]:
a=raw_input("Enter a value:")
b=input("Enter value:")
print "a=",a,"typ-a:", type(a)
print "b=",a,"typ-b:", type(b)

Enter a value:12
Enter value:12
a= 12 typ-a: <type 'str'>
b= 12 typ-b: <type 'int'>

In [44]:
a="12"

In [45]:
a=raw_input("Enter a value:")
b=input("Enter value:")
print "a=",a,"typ-a:", type(a)
print "b=",a,"typ-b:", type(b)

Enter a value:[10,20,30,40]
Enter value:[10,20,30,40]
a= [10,20,30,40] typ-a: <type 'str'>
b= [10,20,30,40] typ-b: <type 'list'>

In [46]:
a="[10,20,30,40]"
b=[10,20,30,40]

In [47]:
a=raw_input("Enter a value:")
b=input("Enter value:")
print "a=",a,"typ-a:", type(a)
print "b=",a,"typ-b:", type(b)

Enter a value:(10,20,30)
Enter value:(10,20,30)
a= (10,20,30) typ-a: <type 'str'>
b= (10,20,30) typ-b: <type 'tuple'>

In [48]:
a=raw_input("Enter a va;ue:")
b=raw_input("Enter b value:")
print a+b

Enter a va;ue:10
Enter b value:20
1020

In [49]:
a=raw_input("Enter a va;ue:")
b=raw_input("Enter b value:")
a=int(a)
b=int(b)
print a+b

Enter a va;ue:10
Enter b value:20
30

In [50]:
a=raw_input("Enter a va;ue:")
b=raw_input("Enter b value:")
a=int(a)
b=int(b)
print a+b

Enter a va;ue:10.23
Enter b value:34.56

ValueError: invalid literal for int() with base 10: '10.23'

In [51]:
int(12.324)

12

In [52]:
int("12.34")

ValueError: invalid literal for int() with base 10: '12.34'

In [53]:
int("123")

123

In [54]:
int("123a")

ValueError: invalid literal for int() with base 10: '123a'

In [55]:
int("123a",11)

1616

In [56]:
float("12.34")

12.34

In [57]:
a=raw_input("Enter a va;ue:")
b=raw_input("Enter b value:")
a=int(a)
b=int(b)
print a+b

Enter a va;ue:12
Enter b value:34
46

In [58]:
a=raw_input("Enter a va;ue:")
b=raw_input("Enter b value:")
a=float(a)
b=float(b)
print a+b

Enter a va;ue:12
Enter b value:34
46.0

In [59]:
a=raw_input("Enter a va;ue:")
b=raw_input("Enter b value:")
a=float(a)
b=float(b)
print a+b

Enter a va;ue:12.34
Enter b value:45.67
58.01

In [60]:
a=raw_input("Enter a va;ue:")
b=raw_input("Enter b value:")
a=float(a)
b=float(b)
print a+b

Enter a va;ue:123a
Enter b value:234r

ValueError: invalid literal for float(): 123a

In [61]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values("p_id

SyntaxError: invalid syntax (<ipython-input-61-a22ff0af956f>, line 6)

In [62]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id

insert into table values( 10

In [63]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,

insert into table values( 10

In [64]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,","

insert into table values( 10 ,

In [66]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,","

insert into table values( 10 ,

In [67]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'"

insert into table values( 10 , '

In [68]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'",p_name

insert into table values( 10 , ' name1

In [69]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'",p_name,"'"

insert into table values( 10 , ' name1 '

In [70]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'",p_name,"'"

insert into table values( 10 , ' name1 '

In [71]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'",p_name,"'",","

insert into table values( 10 , ' name1 ' ,

In [72]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'",p_name,"'",",","'",p_dob,"'"

insert into table values( 10 , ' name1 ' , ' 1990 '

In [73]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'",p_name,"'",",","'",p_dob,"'",",",p_age,",",p_sal,")"

insert into table values( 10 , ' name1 ' , ' 1990 ' , 28 , 12344 )

In [74]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'"p_name,"'",",","'",p_dob,"'",",",p_age,",",p_sal,")"

SyntaxError: invalid syntax (<ipython-input-74-ad6d3d815000>, line 7)

In [75]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'",p_name,"'",",","'",p_dob,"'",",",p_age,",",p_sal,")"

insert into table values( 10 , ' name1 ' , ' 1990 ' , 28 , 12344 )

In [77]:
print "str1","str2"

str1 str2

In [78]:
print "str1"+"str2"

str1str2

In [79]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'"+p_name+"'",",","'",p_dob,"'",",",p_age,",",p_sal,")"

insert into table values( 10 , 'name1' , ' 1990 ' , 28 , 12344 )

In [80]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'"+p_name+"'",",","'"+p_dob,"'",",",p_age,",",p_sal,")"

insert into table values( 10 , 'name1' ,

TypeError: cannot concatenate 'str' and 'int' objects

In [81]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'"+p_name+"'",",","'"+str(p_dob)+"'",",",p_age,",",p_sal,")"

 insert into table values( 10 , 'name1' , '1990' , 28 , 12344 )

In [82]:
# fromat specifiers

In [83]:
print "st1"
print "st2"

st1
st2

In [84]:
print "st1",
print "st2"

st1 st2

In [85]:
print "st1"
print "st2"

st1
st2

In [86]:
print "st1\nst2"

st1
st2

In [87]:
print "st1\nst2\tst3"

st1
st2	st3

In [88]:
print "\n"

In [90]:
print '\n'

In [91]:
print "''"

''

In [92]:
print '""'

""

In [93]:
print """

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-93-2ebdd112c3ce>, line 1)

In [94]:
print "sdfsdfsdfsdf'swf"

sdfsdfsdfsdf'swf

In [95]:
print "sdfsd"fsdfsdf'swf"

SyntaxError: invalid syntax (<ipython-input-95-4e88861cfa53>, line 1)

In [96]:
print "sdfsd\"fsdfsdf'swf"

sdfsd"fsdfsdf'swf

In [97]:
print "\n"

In [98]:
print "\\n"

\n

In [99]:
print "st1\nst2\nst3\nst4\nst5"
print r"st1\nst2\nst3\nst4\nst5"

st1
st2
st3
st4
st5
st1\nst2\nst3\nst4\nst5

In [100]:
len("python program")

14

In [101]:
len("python\nprogram")

14

In [102]:
len("python\nprogram\n\n\n\n\n\n")

20

In [103]:
len(r"python\nprogram\n\n\n\n\n\n")

27

In [104]:
print "\""

"

In [105]:
print '\''

'

In [106]:
print "%s,%d,%f,%o,%x,%X,%r"

%s,%d,%f,%o,%x,%X,%r

In [110]:
product_cost=20
product_name="Mango"
# the cost of Mango:20
print "the cost of",product_name+":"+str(product_cost)

the cost of Mango:20

In [108]:
product_cost=20
product_name="Mango"
# the cost of Mango:20
print "the cost of %s",product_name

the cost of %s Mango

In [109]:
product_cost=20
product_name="Mango"
# the cost of Mango:20
print "the cost of %s"%product_name

the cost of Mango

In [111]:
product_cost=20
product_name="Mango"
# the cost of Mango:20
print "the cost of %s:"%product_name

the cost of Mango:

In [112]:
product_cost=20
product_name="Mango"
# the cost of Mango:20
print "the cost of %s:%s"%(product_name,product_cost)

the cost of Mango:20

In [113]:
product_cost=20
product_name="Mango"
# the cost of Mango:20
print "the cost of %s:%f"%(product_name,product_cost)

the cost of Mango:20.000000

In [114]:
product_cost=20
product_name="Mango"
# the cost of Mango:20
print "the cost of %s:%.2f"%(product_name,product_cost)

the cost of Mango:20.00

In [115]:
product_cost=20.123453
product_name="Mango"
# the cost of Mango:20
print "the cost of %s:%.2f"%(product_name,product_cost)

the cost of Mango:20.12

In [116]:
product_cost=20.128453
product_name="Mango"
# the cost of Mango:20
print "the cost of %s:%.2f"%(product_name,product_cost)

the cost of Mango:20.13

In [117]:
product_cost=20.128453
product_name="Mango"
# the cost of Mango:20
res="the cost of %s:%.2f"%(product_name,product_cost)
print res
print type(res)

the cost of Mango:20.13
<type 'str'>

In [118]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'"+p_name+"'",",","'"+str(p_dob)+"'",",",p_age,",",p_sal,")"
print "insert into table values(%s,'%s','%s',%s,%s)"%(p_id,p_name,p_dob,p_age,p_sal)

insert into table values( 10 , 'name1' , '1990' , 28 , 12344 )
insert into table values(10,'name1','1990',28,12344)

In [119]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'"+p_name+"'",",","'"+str(p_dob)+"'",",",p_age,",",p_sal,")"
print "insert into table values(%s, '%s', '%s', %s, %s)"%(p_id,p_name,p_dob,p_age,p_sal)

insert into table values( 10 , 'name1' , '1990' , 28 , 12344 )
insert into table values(10, 'name1', '1990', 28, 12344)

In [121]:
print "%s"%(19)
print "%o"%(19)
print "%x"%(19)
print "%r"%(19)
print "%f"%(19)
print "%d"%(19)

19
23
13
19
19.000000
19

In [122]:
print "%d"%(23.45)

23

In [123]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'"+p_name+"'",",","'"+str(p_dob)+"'",",",p_age,",",p_sal,")"
print "insert into table values(%s, '%s', '%s', %s, %s)"%(p_id,p_dob,p_age,p_sal,p_name)

insert into table values( 10 , 'name1' , '1990' , 28 , 12344 )
insert into table values(10, '1990', '28', 12344, name1)

In [125]:
# insert into table values(10,'name1','1990',28,12344)
p_id=10
p_name="name1"
p_dob=1990
p_age=28
p_sal=12344
print "insert into table values(",p_id,",","'"+p_name+"'",",","'"+str(p_dob)+"'",",",p_age,",",p_sal,")"
print "insert into table values(%s, '%s', '%s', %s, %s,%s)"%(p_id,p_dob,p_age,p_sal,p_name)

insert into table values( 10 , 'name1' , '1990' , 28 , 12344 )

TypeError: not enough arguments for format string