In [1]:
import sqlite3

In [3]:
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
except Exception as err:
    print err
finally:
    con.close()

In [4]:
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    cur.execute("create table customer(id int, name varchar(2000))")
except Exception as err:
    print err
finally:
    con.close()

In [5]:
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    #cur.execute("create table customer(id int, name varchar(2000))")
    cur.execute("insert into customer(id,name) values(1,'name1')")
except Exception as err:
    print err
finally:
    con.close()

In [6]:
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    #cur.execute("create table customer(id int, name varchar(2000))")
    cur.execute("insert into customer(id,name) values(1,'name1')")
except Exception as err:
    print err
finally:
    con.commit()
    con.close()

In [7]:
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    #cur.execute("create table customer(id int, name varchar(2000))")
    p_id=raw_input("Enter an id of per:")
    p_name=raw_input("Enter name of the per:")
    #"insert into customer(id,name) values(1,'name1')"
    q="insert into customer(id,name) values(%s,'%s')"%(p_id,p_name)
    print q
    
    #cur.execute()
except Exception as err:
    print err
finally:
    con.commit()
    con.close()

Enter an id of per:2
Enter name of the per:name2
insert into customer(id,name) values(2,'name2')

In [8]:
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    #cur.execute("create table customer(id int, name varchar(2000))")
    p_id=raw_input("Enter an id of per:")
    p_name=raw_input("Enter name of the per:")
    #"insert into customer(id,name) values(1,'name1')"
    q="insert into customer(id,name) values(%s,'%s')"%(p_id,p_name)
    cur.execute(q)
except Exception as err:
    print err
finally:
    con.commit()
    con.close()

Enter an id of per:2
Enter name of the per:name2

In [9]:
import random
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    names=["jay","vedhanth","sai","shruthi","thrishanth","udhaya"]
    for i in range(3,104):
        q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
        cur.execute(q)
except Exception as err:
    print err
finally:
    con.commit()
    con.close()

Enter an id of per:1
Enter name of the per:2

In [10]:
import random
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    q="select * from customer"
    cur.execute(q)
    
except Exception as err:
    print err
finally:
    con.close()

In [11]:
import random
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    q="select * from customer"
    cur.execute(q)
    data=cur.fetchall()
    print data
except Exception as err:
    print err
finally:
    con.close()

[(1, u'name1'), (2, u'name2'), (3, u'vedhanth'), (4, u'jay'), (5, u'shruthi'), (6, u'thrishanth'), (7, u'udhaya'), (8, u'jay'), (9, u'jay'), (10, u'jay'), (11, u'udhaya'), (12, u'shruthi'), (13, u'shruthi'), (14, u'shruthi'), (15, u'jay'), (16, u'sai'), (17, u'jay'), (18, u'vedhanth'), (19, u'udhaya'), (20, u'sai'), (21, u'jay'), (22, u'jay'), (23, u'udhaya'), (24, u'sai'), (25, u'shruthi'), (26, u'vedhanth'), (27, u'vedhanth'), (28, u'udhaya'), (29, u'vedhanth'), (30, u'thrishanth'), (31, u'vedhanth'), (32, u'shruthi'), (33, u'vedhanth'), (34, u'udhaya'), (35, u'jay'), (36, u'jay'), (37, u'jay'), (38, u'sai'), (39, u'vedhanth'), (40, u'vedhanth'), (41, u'thrishanth'), (42, u'vedhanth'), (43, u'jay'), (44, u'shruthi'), (45, u'jay'), (46, u'udhaya'), (47, u'udhaya'), (48, u'thrishanth'), (49, u'udhaya'), (50, u'vedhanth'), (51, u'vedhanth'), (52, u'shruthi'), (53, u'shruthi'), (54, u'vedhanth'), (55, u'vedhanth'), (56, u'thrishanth'), (57, u'shruthi'), (58, u'udhaya'), (59, u'thrishanth'), (60, u'sai'), (61, u'jay'), (62, u'jay'), (63, u'jay'), (64, u'thrishanth'), (65, u'vedhanth'), (66, u'vedhanth'), (67, u'jay'), (68, u'thrishanth'), (69, u'vedhanth'), (70, u'shruthi'), (71, u'jay'), (72, u'vedhanth'), (73, u'shruthi'), (74, u'udhaya'), (75, u'vedhanth'), (76, u'sai'), (77, u'sai'), (78, u'udhaya'), (79, u'vedhanth'), (80, u'jay'), (81, u'sai'), (82, u'thrishanth'), (83, u'vedhanth'), (84, u'vedhanth'), (85, u'thrishanth'), (86, u'thrishanth'), (87, u'thrishanth'), (88, u'udhaya'), (89, u'vedhanth'), (90, u'sai'), (91, u'vedhanth'), (92, u'sai'), (93, u'shruthi'), (94, u'shruthi'), (95, u'udhaya'), (96, u'udhaya'), (97, u'vedhanth'), (98, u'jay'), (99, u'sai'), (100, u'thrishanth'), (101, u'thrishanth'), (102, u'jay'), (103, u'vedhanth')]

In [12]:
import random
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    q="select * from customer where id=3"
    cur.execute(q)
    data=cur.fetchall()
    print data
except Exception as err:
    print err
finally:
    con.close()

[(3, u'vedhanth')]

In [13]:
import random
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    p_id=raw_input("Enter id of the per:")
    q="select * from customer where id=%s"%p_id
    cur.execute(q)
    data=cur.fetchall()
    print data
except Exception as err:
    print err
finally:
    con.close()

Enter id of the per:5
[(5, u'shruthi')]

In [14]:
import random
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    p_id=raw_input("Enter id of the per:")
    q="select * from customer where id=%s"%p_id
    cur.execute(q)
    data=cur.fetchall()
    print data
except Exception as err:
    print err
finally:
    con.close()

Enter id of the per:90
[(90, u'sai')]

In [15]:
import random
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    p_name=raw_input("Enter name of the per:")
    q="select * from customer where name='%s'"%p_name
    cur.execute(q)
    data=cur.fetchall()
    print data
except Exception as err:
    print err
finally:
    con.close()

Enter name of the per:shruthi
[(5, u'shruthi'), (12, u'shruthi'), (13, u'shruthi'), (14, u'shruthi'), (25, u'shruthi'), (32, u'shruthi'), (44, u'shruthi'), (52, u'shruthi'), (53, u'shruthi'), (57, u'shruthi'), (70, u'shruthi'), (73, u'shruthi'), (93, u'shruthi'), (94, u'shruthi')]

In [16]:
import random
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    q=None
    print "Search by:\n\t1. id\n\t2.name"
    search_opt=raw_input("Enter am option:")
    if search_opt=="1":
        p_id=raw_input("Enter id of the per:")
        q="select * from customer where id=%s"%p_id
    elif search_opt=="2":
        p_name=raw_input("Enter name of the per:")
        q="select * from customer where name='%s'"%p_name
    else:
        print "select proper option.."
    if q:
        cur.execute(q)
        data=cur.fetchall()
        print data
except Exception as err:
    print err
finally:
    con.close()

Search by:
	1. id
	2.name
Enter am option:1
Enter id of the per:5
[(5, u'shruthi')]

In [17]:
import random
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    q=None
    print "Search by:\n\t1. id\n\t2.name"
    search_opt=raw_input("Enter am option:")
    if search_opt=="1":
        p_id=raw_input("Enter id of the per:")
        q="select * from customer where id=%s"%p_id
    elif search_opt=="2":
        p_name=raw_input("Enter name of the per:")
        q="select * from customer where name='%s'"%p_name
    else:
        print "select proper option.."
    if q:
        cur.execute(q)
        data=cur.fetchall()
        print data
except Exception as err:
    print err
finally:
    con.close()

Search by:
	1. id
	2.name
Enter am option:2
Enter name of the per:jay
[(4, u'jay'), (8, u'jay'), (9, u'jay'), (10, u'jay'), (15, u'jay'), (17, u'jay'), (21, u'jay'), (22, u'jay'), (35, u'jay'), (36, u'jay'), (37, u'jay'), (43, u'jay'), (45, u'jay'), (61, u'jay'), (62, u'jay'), (63, u'jay'), (67, u'jay'), (71, u'jay'), (80, u'jay'), (98, u'jay'), (102, u'jay')]

In [18]:
import random
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    while True:
        q=None
        print "Search by:\n\t1. id\n\t2.name\n\t3.quit"
        search_opt=raw_input("Enter am option:")
        if search_opt=="3":
            break
        if search_opt=="1":
            p_id=raw_input("Enter id of the per:")
            q="select * from customer where id=%s"%p_id
        elif search_opt=="2":
            p_name=raw_input("Enter name of the per:")
            q="select * from customer where name='%s'"%p_name
        else:
            print "select proper option.."
        if q:
            cur.execute(q)
            data=cur.fetchall()
            print data
except Exception as err:
    print err
finally:
    con.close()

Search by:
	1. id
	2.name
	3.quit
Enter am option:3

In [19]:
import random
try:
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    while True:
        q=None
        print "Search by:\n\t1. id\n\t2.name\n\t3.quit"
        search_opt=raw_input("Enter am option:")
        if search_opt=="3":
            break
        if search_opt=="1":
            p_id=raw_input("Enter id of the per:")
            q="select * from customer where id=%s"%p_id
        elif search_opt=="2":
            p_name=raw_input("Enter name of the per:")
            q="select * from customer where name='%s'"%p_name
        else:
            print "select proper option.."
        if q:
            cur.execute(q)
            data=cur.fetchall()
            print data
except Exception as err:
    print err
finally:
    con.close()

Search by:
	1. id
	2.name
	3.quit
Enter am option:2
Enter name of the per:udhaya
[(7, u'udhaya'), (11, u'udhaya'), (19, u'udhaya'), (23, u'udhaya'), (28, u'udhaya'), (34, u'udhaya'), (46, u'udhaya'), (47, u'udhaya'), (49, u'udhaya'), (58, u'udhaya'), (74, u'udhaya'), (78, u'udhaya'), (88, u'udhaya'), (95, u'udhaya'), (96, u'udhaya')]
Search by:
	1. id
	2.name
	3.quit
Enter am option:1
Enter id of the per:67
[(67, u'jay')]
Search by:
	1. id
	2.name
	3.quit
Enter am option:6
select proper option..
Search by:
	1. id
	2.name
	3.quit
Enter am option:3

In [21]:
import random
def connect():
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    return con,cur

def close(con):
    con.close()
    
def browse(p_id=None):
    q="select * from customer"
    if p_id:
        q=q+ " where id=%s"%p_id
    try:
        con,cur=connect()
        cur.execute(q)
        data=cur.fetchall()
        
    except Exception as err:
        print err
    finally:
        close(con)
    return data
        
try:
    p_id=raw_input("enter id of the person:")
    data=browse(p_id)
    print "data of this id:",data
    update_opt=raw_input("Want to update:(y/n):")
    if update_opt.lower()=="y":
        con,cur=connect()
        name=raw_input("Enter name to modify:")
        q="update customer set name='%s' where id=%s"%(name, p_id)
        cur.execute(q)
        con.commit()
        close(con)
        data_mod=browse(p_id)
        print data_mod
except Exception as err:
    print err

enter id of the person:23
data of this id: [(23, u'udhaya')]
Want to update:(y/n):y
Enter name to modify:udhaya_mod
[(23, u'udhaya_mod')]

In [22]:
import random
def connect():
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    return con,cur

def close(con):
    con.close()
    
def browse(p_id=None):
    q="select * from customer"
    if p_id:
        q=q+ " where id=%s"%p_id
    try:
        con,cur=connect()
        cur.execute(q)
        data=cur.fetchall()
        
    except Exception as err:
        print err
    finally:
        close(con)
    return data
        
try:
    p_id=raw_input("enter id of the person:")
    data=browse(p_id)
    print "data of this id:",data
    update_opt=raw_input("Want to delete:(y/n):")
    if update_opt.lower()=="y":
        con,cur=connect()
        q="delete from customer where id=%s"%(p_id)
        cur.execute(q)
        con.commit()
        close(con)
        data_mod=browse(p_id)
        print data_mod
except Exception as err:
    print err

enter id of the person:23
data of this id: [(23, u'udhaya_mod')]
Want to delete:(y/n):y
[]

In [23]:
import random
def connect():
    con = sqlite3.connect("db1.db")
    cur=con.cursor()
    return con,cur

def close(con):
    con.close()
    
def browse(p_id=None):
    q="select * from customer"
    if p_id:
        q=q+ " where id=%s"%p_id
    try:
        con,cur=connect()
        cur.execute(q)
        data=cur.fetchall()
        
    except Exception as err:
        print err
    finally:
        close(con)
    return data
        
try:
    p_id=raw_input("enter id of the person:")
    data=browse(p_id)
    print "data of this id:",data
    update_opt=raw_input("Want to delete:(y/n):")
    if update_opt.lower()=="y":
        con,cur=connect()
        q="delete from customer where id=%s"%(p_id)
        cur.execute(q)
        con.commit()
        close(con)
        data_mod=browse(p_id)
        print data_mod
except Exception as err:
    print err

enter id of the person:34
data of this id: [(34, u'udhaya')]
Want to delete:(y/n):n

In [24]:
import psycopg2
con=psycopg2.connect(user="postgres",password="root",host="localhost",database="batch47",port=5432)
cur=con.cursor()
cur.execute("create table customer(id int, name varchar(2000))")

In [25]:
con.close()

In [27]:
import random
try:
    con=psycopg2.connect(user="postgres",password="root",host="localhost",database="batch47",port=5432)
    cur=con.cursor()
    cur.execute("create table customer(id int, name varchar(2000))")
    names=["jay","vedhanth","sai","shruthi","thrishanth","udhaya"]
    for i in range(3,104):
        q="insert into customer(id,name) values(%s,'%s')"%(i,random.choice(names))
        cur.execute(q)
except Exception as err:
    print err
finally:
    con.commit()
    con.close()