In [1]:
# file which is not there in the path in write mode
f=open("data2.csv","w")
# it is creating the file

In [3]:
# file which is not there in the path in read mode
f=open("data4.csv","r")

IOError: [Errno 2] No such file or directory: 'data4.csv'

In [4]:
f=open("data2.csv","w")
# writing some data
f.write("smoe data")
# after execting the above two lines. Open a file and checd for data.
# do you find the data?. NO. WHY?

In [5]:
f.close()

In [6]:
f.write("sdfsdf")

ValueError: I/O operation on closed file

In [7]:
f=open("data2.csv","w")
#after execting the above lines. Open a file and checd for data.

In [8]:
f=open("data2.csv","w")
f.write("some data\n")
f.write("some data")
f.write("last line")
f.close()

In [9]:
f=open("data2.csv","w")
f.write("some data\n")
f.flush()
f.write("some data")
f.write("last line")

In [10]:
f.close()

In [11]:
f=open("data2.csv","a")
f.write("\n appending some data in append mode")
f.close()

In [12]:
import random
names=["anil","jay","mithra","vedanth","shruthi"]
print random.choice(names)

vedanth

In [13]:
import random
names=["anil","jay","mithra","vedanth","shruthi"]
print random.choice(names)

anil

In [14]:
import random
names=["anil","jay","mithra","vedanth","shruthi"]
print random.choice(names)

mithra

In [15]:
import random
names=["anil","jay","mithra","vedanth","shruthi"]
print random.choice(names)

anil

In [16]:
import random
names=["anil","jay","mithra","vedanth","shruthi"]
sals=range(20000,80000,10000)   #[20000,30000,40000,50000,60000,70000]
ages=range(25,51)   #[25,26,27,28,29,30,31]
print names
print sals
print ages

['anil', 'jay', 'mithra', 'vedanth', 'shruthi']
[20000, 30000, 40000, 50000, 60000, 70000]
[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [18]:
import random
names=["anil","jay","mithra","vedanth","shruthi"]
sals=range(20000,80000,10000)   #[20000,30000,40000,50000,60000,70000]
ages=range(25,51)   #[25,26,27,28,29,30,31]
print names
print sals
print ages
print "%s,%s,%s"%(random.choice(names),random.choice(ages),random.choice(sals))

['anil', 'jay', 'mithra', 'vedanth', 'shruthi']
[20000, 30000, 40000, 50000, 60000, 70000]
[25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
jay,26,30000

In [20]:
import random
names=["anil","jay","mithra","vedanth","shruthi"]
sals=range(20000,80000,10000)   #[20000,30000,40000,50000,60000,70000]
ages=range(25,51)   #[25,26,27,28,29,30,31]
f=open("data.csv","w")
for i in range(1000):
    row="%s,%s,%s\n"%(random.choice(names),random.choice(ages),random.choice(sals))
    f.write(row)
f.close()

In [21]:
import random
names=["anil","jay","mithra","vedanth","shruthi"]
sals=range(20000,80000,10000)   #[20000,30000,40000,50000,60000,70000]
ages=range(25,51)   #[25,26,27,28,29,30,31]
f=open("data.csv","w")
lines=[]
for i in range(10):
    row="%s,%s,%s\n"%(random.choice(names),random.choice(ages),random.choice(sals))
    lines.append(row)
print lines

['mithra,40,70000\n', 'anil,45,20000\n', 'jay,33,70000\n', 'mithra,48,30000\n', 'mithra,37,20000\n', 'shruthi,32,20000\n', 'anil,49,70000\n', 'anil,34,60000\n', 'anil,43,30000\n', 'shruthi,26,20000\n']

In [22]:
import random
names=["anil","jay","mithra","vedanth","shruthi"]
sals=range(20000,80000,10000)   #[20000,30000,40000,50000,60000,70000]
ages=range(25,51)   #[25,26,27,28,29,30,31]
f=open("data.csv","w")
lines=[]
for i in range(10):
    row="%s,%s,%s\n"%(random.choice(names),random.choice(ages),random.choice(sals))
    lines.append(row)
print lines
f.write(lines)

['vedanth,35,40000\n', 'vedanth,37,50000\n', 'shruthi,44,20000\n', 'mithra,43,70000\n', 'jay,40,60000\n', 'jay,39,70000\n', 'anil,30,40000\n', 'vedanth,37,20000\n', 'vedanth,31,20000\n', 'shruthi,33,60000\n']

TypeError: expected a string or other character buffer object

In [24]:
import random
names=["anil","jay","mithra","vedanth","shruthi"]
sals=range(20000,80000,10000)   #[20000,30000,40000,50000,60000,70000]
ages=range(25,51)   #[25,26,27,28,29,30,31]
f=open("data.csv","w")
lines=[]
for i in range(10):
    row="%s,%s,%s\n"%(random.choice(names),random.choice(ages),random.choice(sals))
    lines.append(row)
print lines
f.writelines(lines)
f.close()

['jay,40,70000\n', 'shruthi,47,20000\n', 'vedanth,48,30000\n', 'anil,48,20000\n', 'mithra,44,40000\n', 'vedanth,29,60000\n', 'vedanth,25,70000\n', 'shruthi,40,50000\n', 'mithra,35,40000\n', 'jay,48,60000\n']

In [25]:
f=open("data2.csv","w")
f.writelines(["line1","lin2","line3","line4"])
f.close()

In [26]:
f=open("data2.csv","w")
f.writelines(["line1","lin2\n","line3","line4"])
f.close()

In [27]:
f=open("data2.jpg","w")
f.writelines(["line1","lin2\n","line3","line4"])
f.close()

In [29]:
f=open("data.csv","r")
data=f.read()
print data
print type(data)

jay,40,70000
shruthi,47,20000
vedanth,48,30000
anil,48,20000
mithra,44,40000
vedanth,29,60000
vedanth,25,70000
shruthi,40,50000
mithra,35,40000
jay,48,60000

<type 'str'>

In [30]:
f=open("data.csv","r")
data=f.readlines()
print data
print type(data)

['jay,40,70000\n', 'shruthi,47,20000\n', 'vedanth,48,30000\n', 'anil,48,20000\n', 'mithra,44,40000\n', 'vedanth,29,60000\n', 'vedanth,25,70000\n', 'shruthi,40,50000\n', 'mithra,35,40000\n', 'jay,48,60000\n']
<type 'list'>

In [31]:
f=open("data.csv","r")

print f.readline()

jay,40,70000

In [32]:
f.readline()

'shruthi,47,20000\n'

In [33]:
f.readline()

'vedanth,48,30000\n'

In [34]:
f=open("data.csv","r")
for i in f:
    print i

jay,40,70000

shruthi,47,20000

vedanth,48,30000

anil,48,20000

mithra,44,40000

vedanth,29,60000

vedanth,25,70000

shruthi,40,50000

mithra,35,40000

jay,48,60000

In [36]:
f=open("data.csv","r")
data=f.read(50)
print data
print type(data)
print len(data)

jay,40,70000
shruthi,47,20000
vedanth,48,30000
ani
<type 'str'>
50

In [38]:
f=open("data.csv","r")
first_50_chars=f.read(50)
next_30_chars=f.read(30)
print first_50_chars
print "*"*20
print next_30_chars

jay,40,70000
shruthi,47,20000
vedanth,48,30000
ani
********************
l,48,20000
mithra,44,40000
ved

In [39]:
f=open("data.csv","r")
first_50_chars=f.read(50)
next_30_chars=f.read(30)
next_total_data = f.read()
print first_50_chars
print "*"*20
print next_30_chars
print "*"*20
print next_total_data

jay,40,70000
shruthi,47,20000
vedanth,48,30000
ani
********************
l,48,20000
mithra,44,40000
ved
********************
anth,29,60000
vedanth,25,70000
shruthi,40,50000
mithra,35,40000
jay,48,60000

In [40]:
f=open("data.csv","r")
data=f.read()
data1=f.read()
print data1

In [41]:
f=open("data.csv","r")
data=f.read()
f.close()
f=open("data.csv","r")
data1=f.read()
print data1

jay,40,70000
shruthi,47,20000
vedanth,48,30000
anil,48,20000
mithra,44,40000
vedanth,29,60000
vedanth,25,70000
shruthi,40,50000
mithra,35,40000
jay,48,60000

In [42]:
f=open("data.csv","r")
print "opened in read mode:",f.tell()
data=f.read()
print "after read:",f.tell()

opened in read mode: 0
after read: 157

In [44]:
f=open("data.csv","r")
print "opened in read mode:",f.tell()
data=f.read()
print "after read:",f.tell()
data=f.read()
print "data before sek:",data
f.seek(0)
print "After seek to zero:",f.tell()
data=f.read()
print data

opened in read mode: 0
after read: 157
data before sek:
After seek to zero: 0
jay,40,70000
shruthi,47,20000
vedanth,48,30000
anil,48,20000
mithra,44,40000
vedanth,29,60000
vedanth,25,70000
shruthi,40,50000
mithra,35,40000
jay,48,60000

In [45]:
f=open("data.csv","r")
print len(f.read())

157

In [46]:
f=open("data.csv","a")
f.seek(50)
print f.tell()
f.close()

50

In [47]:
f=open("data.csv","a")
f.seek(50)
f.write("************")
f.close()

In [48]:
f=open("data.csv")
data=f.read()
print data

jay,40,70000
shruthi,47,20000
vedanth,48,30000
anil,48,20000
mithra,44,40000
vedanth,29,60000
vedanth,25,70000
shruthi,40,50000
mithra,35,40000
jay,48,60000
************

In [49]:
f=open("data.csv")
data=f.read()
print data.replace("vedanth","vedanshu")

jay,40,70000
shruthi,47,20000
vedanshu,48,30000
anil,48,20000
mithra,44,40000
vedanshu,29,60000
vedanshu,25,70000
shruthi,40,50000
mithra,35,40000
jay,48,60000
************

In [50]:
f=open("data.csv")
data=f.read()
f.close()
modified_data= data.replace("vedanth","vedanshu")
f=open("data.csv","w")
f.write(modified_data)
f.close()

In [51]:
f=open("data.csv")
req=[]
for i in f:
    if not "vedanshu" in i:
        req.append(i)
print req

['jay,40,70000\n', 'shruthi,47,20000\n', 'anil,48,20000\n', 'mithra,44,40000\n', 'shruthi,40,50000\n', 'mithra,35,40000\n', 'jay,48,60000\n', '************']

In [53]:
f=open("data.csv")
req=[]
for i in f:
    if not "vedanshu" in i:
        req.append(i)
f.close()
f=open("data.csv","w")
f.writelines(req)

In [54]:
f.close()

In [55]:
import random
names=["anil","jay","mithra","vedanth","shruthi"]
sals=range(20000,80000,10000)   #[20000,30000,40000,50000,60000,70000]
ages=range(25,51)   #[25,26,27,28,29,30,31]
f=open("data.csv","w")
lines=[]
for i in range(100):
    row="%s,%s,%s\n"%(random.choice(names),random.choice(ages),random.choice(sals))
    lines.append(row)
print lines
f.writelines(lines)
f.close()

['anil,49,70000\n', 'mithra,37,60000\n', 'anil,25,20000\n', 'anil,45,60000\n', 'vedanth,43,50000\n', 'vedanth,44,50000\n', 'vedanth,38,20000\n', 'jay,34,60000\n', 'anil,44,20000\n', 'shruthi,42,60000\n', 'anil,38,40000\n', 'jay,39,40000\n', 'vedanth,26,50000\n', 'mithra,33,20000\n', 'vedanth,48,50000\n', 'shruthi,47,40000\n', 'vedanth,27,30000\n', 'vedanth,32,70000\n', 'anil,37,40000\n', 'jay,30,40000\n', 'jay,42,40000\n', 'jay,45,70000\n', 'anil,42,40000\n', 'jay,33,50000\n', 'jay,36,70000\n', 'vedanth,48,30000\n', 'anil,48,30000\n', 'vedanth,47,60000\n', 'shruthi,47,40000\n', 'jay,25,70000\n', 'shruthi,27,20000\n', 'vedanth,32,50000\n', 'mithra,49,60000\n', 'shruthi,26,40000\n', 'shruthi,39,20000\n', 'vedanth,29,40000\n', 'jay,32,40000\n', 'jay,36,20000\n', 'vedanth,38,20000\n', 'anil,27,60000\n', 'vedanth,33,60000\n', 'jay,27,30000\n', 'mithra,39,60000\n', 'mithra,28,50000\n', 'vedanth,37,70000\n', 'anil,29,40000\n', 'vedanth,35,50000\n', 'shruthi,39,20000\n', 'vedanth,48,40000\n', 'anil,36,70000\n', 'shruthi,32,40000\n', 'vedanth,42,40000\n', 'shruthi,27,60000\n', 'mithra,26,40000\n', 'jay,28,50000\n', 'anil,49,30000\n', 'jay,49,70000\n', 'shruthi,41,70000\n', 'anil,39,50000\n', 'jay,26,50000\n', 'jay,32,50000\n', 'anil,30,40000\n', 'jay,34,70000\n', 'shruthi,28,40000\n', 'jay,48,40000\n', 'jay,47,40000\n', 'mithra,45,70000\n', 'mithra,34,40000\n', 'jay,42,40000\n', 'anil,48,50000\n', 'mithra,46,50000\n', 'anil,46,70000\n', 'mithra,34,30000\n', 'mithra,34,20000\n', 'jay,48,20000\n', 'jay,50,30000\n', 'shruthi,32,60000\n', 'mithra,47,20000\n', 'jay,49,70000\n', 'anil,50,60000\n', 'mithra,34,30000\n', 'jay,30,20000\n', 'vedanth,39,40000\n', 'vedanth,32,40000\n', 'vedanth,29,50000\n', 'mithra,38,60000\n', 'anil,42,30000\n', 'shruthi,45,70000\n', 'shruthi,33,70000\n', 'jay,42,70000\n', 'anil,41,60000\n', 'anil,32,30000\n', 'shruthi,29,60000\n', 'anil,36,60000\n', 'shruthi,42,20000\n', 'shruthi,47,70000\n', 'mithra,32,20000\n', 'shruthi,37,20000\n', 'mithra,27,60000\n', 'mithra,37,40000\n']

In [56]:
f=open("data.csv")
f1=open("data1.csv","w")
for i in f:
    if not "anil" in i:
        f1.write(i)
f.close()
f1.close()

In [57]:
f=open("data.csv")
f1=open("data1.csv","w")
for i in f:
    if not "anil" in i:
        f1.write(i)
        f.flush()
f.close()
f1.close()