In [1]:
data = open("data.csv").read()
print data[:100]

name,age,sal
danush,29,60000
karthikeya,26,30000
kiran,27,50000
danush,26,60000
jayaram,28,70000
shr

In [2]:
data = open("data.csv").read()
for row in data.splitlines():
    print row.split(",")[-1]

sal
60000
30000
50000
60000
70000
50000
50000
60000
70000
70000
40000
40000
60000
80000
50000
70000
60000
50000
30000
60000
80000
60000
40000
80000
60000
50000
80000
60000
70000
30000
50000
80000
60000
50000
60000
40000
70000
50000
50000
30000
40000
30000
60000
80000
60000
60000
60000
80000
30000
70000
60000
40000
30000
50000
30000
40000
80000
60000
70000
70000
60000
40000
60000
50000
60000
50000
30000
80000
40000
40000
50000
80000
60000
40000
80000
50000
50000
80000
80000
60000
60000
70000
50000
50000
80000
70000
40000
60000
50000
60000
50000
80000
40000
40000
70000
40000
80000
80000
40000
70000

In [3]:
print data

name,age,sal
danush,29,60000
karthikeya,26,30000
kiran,27,50000
danush,26,60000
jayaram,28,70000
shruthi,27,50000
shruthi,27,50000
kiran,25,60000
karthikeya,26,70000
danush,25,70000
karthikeya,26,40000
kiran,26,40000
shruthi,29,60000
jayaram,29,80000
jayaram,25,50000
danush,24,70000
shruthi,26,60000
thrishanth,28,50000
kiran,26,30000
kiran,26,60000
jayaram,27,80000
kiran,26,60000
karthikeya,29,40000
danush,28,80000
kiran,28,60000
jayaram,24,50000
karthikeya,25,80000
kiran,25,60000
kiran,29,70000
thrishanth,29,30000
karthikeya,25,50000
thrishanth,25,80000
jayaram,29,60000
shruthi,25,50000
jayaram,27,60000
jayaram,27,40000
thrishanth,24,70000
karthikeya,25,50000
karthikeya,28,50000
shruthi,26,30000
danush,28,40000
thrishanth,29,30000
thrishanth,28,60000
thrishanth,24,80000
jayaram,24,60000
shruthi,25,60000
jayaram,26,60000
kiran,26,80000
kiran,27,30000
thrishanth,27,70000
jayaram,28,60000
jayaram,24,40000
danush,27,30000
jayaram,29,50000
danush,27,30000
karthikeya,25,40000
thrishanth,29,80000
shruthi,26,60000
shruthi,28,70000
kiran,27,70000
kiran,28,60000
thrishanth,25,40000
kiran,24,60000
danush,27,50000
kiran,29,60000
kiran,29,50000
jayaram,26,30000
karthikeya,27,80000
kiran,26,40000
karthikeya,28,40000
kiran,29,50000
karthikeya,29,80000
shruthi,27,60000
danush,24,40000
danush,25,80000
kiran,25,50000
thrishanth,25,50000
karthikeya,26,80000
kiran,26,80000
kiran,26,60000
danush,27,60000
karthikeya,24,70000
karthikeya,28,50000
thrishanth,29,50000
thrishanth,24,80000
danush,24,70000
danush,29,40000
jayaram,25,60000
shruthi,25,50000
kiran,27,60000
danush,27,50000
jayaram,28,80000
danush,29,40000
thrishanth,28,40000
kiran,28,70000
kiran,29,40000
danush,26,80000
shruthi,26,80000
danush,27,40000
kiran,25,70000

In [5]:
data = open("data1.csv").read()
print data

anil,26,9676622023
27,ashok,9676622024
9676622025,pavan,30

In [6]:
data = open("data1.csv").read()
for row in data.splitlines():
    print row.split(",")[-1]

9676622023
9676622024
30

In [7]:
import re
print re.findall("[0-9]{10}",data)

['9676622023', '9676622024', '9676622025']

In [8]:
a=1000
b=2000
c=a
d=1000

In [9]:
print a

1000

In [10]:
print c

1000

In [11]:
a=1000
c=a
print a
print c

1000
1000

In [12]:
a=1000
c=a
a=4000
print a
print c

4000
1000

In [14]:
a=1000
b=2000
c=a
d=1000
print a,"id-a", id(a)
print b, "id-b", id(b)
print c, "id-c", id(c)
print d, "id-d", id(d)

1000 id-a 94659907101456
2000 id-b 94659907100808
1000 id-c 94659907101456
1000 id-d 94659907825984

In [ ]:
a=1000
b=2000
c=a
d=1000
a=400